main {
  display: flex;
  justify-content: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  height: 55vh;
  width: 40vw;
  background-color: grey;
}

header {
  order: -1;
}

.time-range {
  color: violet;
}
